{% block content %}

<head>
<style>
#text {
  text-shadow: 0 0 3px #22b535;
}
.words {
  background-color: #d9d9d9;
  border: 1px solid black;
  height: 420px;
  width: 800px;
  margin: auto;
  margin-top: 100px;
}

.words p {
  padding: 10px;
}
</style>
</head>
<body>
  <div class="words">
    <h2 style="font-size:50px;text-align:center;">Thanks for visiting The Boneyard!</h2>
    <p style="font-size:25px;">This is the backend section of the application.</p>
    <p style="font-size:25px;margin-top:-20px;">If you are seeing this webpage, that means that the application is <b id="text">online</b> and working.</p>
    <p style="font-size:25px;margin-top:-20px;">There are no additional views within this application. For questions or concerns please reach out to the back end team, or visit the repo's on GitHub <a href="https://github.com/the-bone-yard/backend-repo">here is the backend</a>, and <a href="https://github.com/the-bone-yard/frontend">here is the frontend</a>.</p>
</div>

</body>



{% endblock content %}
